<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>로그인 입니다.</h1>
        <form method="post" action="/process/login">
            <table>
                <tr>
                    <td><label>ID: </label></td>
                    <td><input type="text" name="id"/></td>
                </tr>
                <tr>
                    <td><label>Password: </label></td>
                    <td><input type="password" name="password"/></td>
                </tr>
            </table>
            <button id="loginBtn" type="submit">로그인</button>
        </form>
    </body>
</html>